更新MyOrder表的金额字段
ALTER TABLE MyOrder MODIFY amount DECIMAL(10,2) NOT NULL DEFAULT 0.00;
ALTER TABLE OrderB MODIFY currentPayment DECIMAL(10,2) NOT NULL DEFAULT 0.00;
ALTER TABLE OrderB MODIFY paidAmount DECIMAL(10,2) NOT NULL DEFAULT 0.00;
ALTER TABLE OrderB MODIFY unpaidAmount DECIMAL(10,2) NOT NULL DEFAULT 0.00;
UPDATE MyOrder SET amount = ROUND(CAST(amount AS DECIMAL(10,2)), 2);
UPDATE OrderB SET currentPayment = ROUND(CAST(currentPayment AS DECIMAL(10,2)), 2), paidAmount = ROUND(CAST(paidAmount AS DECIMAL(10,2)), 2), unpaidAmount = ROUND(CAST(unpaidAmount AS DECIMAL(10,2)), 2);
